<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1">
    <title>
        <%= appname %>
    </title>
</head>

<body
    style="background-color:#F5F6F8;font-family:-apple-system, BlinkMacSystemFont, 'segoe ui', roboto, oxygen, ubuntu, cantarell, 'fira sans', 'droid sans', 'helvetica neue', Arial, sans-serif;box-sizing:border-box;font-size:16px;">
    <div style="background-color:#fff;margin:30px;box-sizing:border-box;font-size:16px; width: 60%; margin: auto;">
        <h1
            style="padding:40px;box-sizing:border-box;font-size:24px;color:#ffffff;background-color:purple;margin:0; text-align: center;">
            Kumo Africa
        </h1>
        <h2 style="padding:20px 40px;margin:0;color:#394453;box-sizing:border-box;">Credit Alert</h2>
        <div style="box-sizing:border-box;padding:0 40px 20px;">
            <div>
                <p>Hi user email or name,</p>
                <p>Your Kumo wallet has been successfully credited with
                </p>
                <div style="margin-top: 50px; margin-bottom: 30px;">
                    <p><b>AMOUNT:</b> NGN20,100.55</p>
                    <p><b>EMAIL:</b> johndoe@gmail.com</p>
                    <p><b>TIME:</b> May 2022 06 11:22:06am</p>
                </div>
            </div>
            <p>If you did not initiate this transaction, you can contact us by sending a mail to support@kumo.africa
                or chat with us on whatsapp +234 708 633 7628.</p>

            <p><b>Thank you for using Kumo.</b></p>

            <!-- <table style="border-collapse:collapse;width:100%;">
                <tbody>
                    <tr>
                        <td style="padding:15px 0;text-decoration:underline;">Email</td>
                        <td style="text-align:right;">
                            <?=$email?>
                        </td>
                    </tr>
                    <tr>
                        <td style="padding:15px 0;text-decoration:underline;">Name</td>
                        <td style="text-align:right;">
                            <?=$first_name?>
                            <?=$last_name?>
                        </td>
                    </tr>
                    <tr>
                        <td style="padding:15px 0;text-decoration:underline;">Phone</td>
                        <td style="text-align:right;">
                            <?=$phone?>
                        </td>
                    </tr>
                    <tr>
                        <td style="padding:15px 0;text-decoration:underline;">Adults</td>
                        <td style="text-align:right;">
                            <?=$adults?>
                        </td>
                    </tr>
                    <tr>
                        <td style="padding:15px 0;text-decoration:underline;">Children</td>
                        <td style="text-align:right;">
                            <?=$children?>
                        </td>
                    </tr>
                    <tr>
                        <td style="padding:15px 0;text-decoration:underline;">Room Preference</td>
                        <td style="text-align:right;">
                            <?=$room_pref?>
                        </td>
                    </tr>
                </tbody>
            </table> -->
        </div>
    </div>
</body>

</html>