<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1">
    <title>
        DPD Online Platform
    </title>
</head>

<body
    style="background-color:#F5F6F8;font-family:-apple-system, BlinkMacSystemFont, 'segoe ui', roboto, oxygen, ubuntu, cantarell, 'fira sans', 'droid sans', 'helvetica neue', Arial, sans-serif;box-sizing:border-box;font-size:16px;">
    <div style="background-color:#fff;margin:30px;box-sizing:border-box;font-size:16px; width: 90%; margin: auto;">
        <h1
            style="padding:40px;box-sizing:border-box;font-size:24px;color:#ffffff;background-color:purple;margin:0; text-align: center;">
            DPD Online Platform
        </h1>
        <p style="padding:40px 40px 20px 40px;margin:0;box-sizing:border-box;font-size:16px;">Account Registration.</p>
        <h2 style="padding:20px 40px;margin:0;color:#394453;box-sizing:border-box;">
            <%= title %>
        </h2>
        <div style="box-sizing:border-box;padding:0 40px 20px;">
            <%- body %>
        </div>
    </div>
</body>

</html>